@import './mixins';
@import './variables';

.header_container {
  position: fixed;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;

  .header_content {
    width: 100%;

    .logo_hamb_container {
      @include flex-between(row);

      .logo {
        h1 {
          font-weight: 900;
          font-size: 2.5rem;
        }
      }

      .hamburger_container {
        @include flex-center(row);

        background-color: $white_default_col;
        position: absolute;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        right: 1rem;
        z-index: 99999;

        .hamburger {
          color: $dark_default_col;
          height: 1.5rem;
          width: 1.6rem;
          padding: 0.2rem;
        }
      }
    }

    .closeMenu_container {
      display: none;
    }

    .hamburger_container.open,
    .nav_list {
      display: none;
    }

    .closeMenu_container.open {
      @include flex-center(row);

      background-color: $white_default_col;
      position: absolute;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      top: 1rem;
      right: 1rem;
      z-index: 99999;

      .closeMenu {
        color: $dark_default_col;
        height: 1.8rem;
        width: 1.8rem;
        padding: 0.2rem;
        top: 0.5rem;
        right: 1rem;
      }
    }

    .nav_list.open {
      @include flex-end(column);

      padding: 3.5rem 0.7rem;
      position: relative;

      .menu_text {
        position: absolute;
        right: 0;
        top: 1rem;
        transform: rotate(-270deg);
        color: $pink_color_prim_color;
        font-size: 0.7rem;
      }

      .nav_item {
        margin-bottom: 1rem;

        a {
          font-weight: 700;
          font-size: 2rem;

          .num {
            font-size: 1rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

.menu_container {
  display: none;
}

.menu_container.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $bg_col_3;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding-top: 4rem;
}

.menu_container.remove {
  display: none;
}


.contacts_container {
  .contacts_text {
    @include flex-center(column);
    font-size: 1.2rem;

    .number,
    .email {
      color: $pink_color_prim_color;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid $pink_color_prim_color;
    }

    .address {
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .contact_icons_container {
    @include flex-center(row);

    .icon_item {
      margin: 0 0.5rem;
      font-size: 1.3rem;

      .icon_link {
        color: $white_default_col;

        &:hover {
          transition: all 0.3s ease-in-out;
          color: $pink_color_prim_color;
          transform: scale(1.5);
        }
      }
    }
  }
}

.icon:hover {
  transition: all 1s ease;
  transform: scale(1.5);
}
