$pink_color_prim_color: #ec1839;
$blue_color_prim_color: #2196f3;
// $dark_default_col: #0d1117;
$dark_default_col: #000e17;
$white_default_col: #fff;
$light_default_col: #c9d1d9;

$Quick_sand: 'Quicksand', sans-serif;

$bg_col_1: #000e17;
$bg_col_2: #001e2d;
$bg_col_3: #012734;
$bg_col_4: #003347;
$bg_col_4: #003347;
